<%
$stdout = File.open "index.html", "wb"

require 'mechanize'
require 'csv'
require 'yaml'

CONFIG = YAML.load_file 'config.yml'
BASE_URL = CONFIG['base_url']
USERNAME = CONFIG['username']
PASSWORD = CONFIG['password']

a = Mechanize.new

# login
login_page = a.get "#{BASE_URL}login/"
login_page.form_with id: 'login' do |f|
    f['login[username]'] = USERNAME
    f['login[password]'] = PASSWORD
end.click_button

# get csv and put it into a useable format
csv_text = a.get("#{BASE_URL}movies/checked/?export").body
columns, *rows = CSV.parse csv_text
films = rows.map { |row| Hash[columns.zip(row)] }

%>
<html>
<head>
    <title>Films I've Seen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <h1>Films I've Seen</h1>
    <ul>
        <% films.each do |film| %>
            <li>
                <h3><%= film["title"] %></h3>
            </li>
        <% end %>
    </ul>
</body>
</html>